
@using Microsoft.AspNet.Identity
@model ListedIN.ViewModels.ProfileViewModel


<div class="row" id="myProfile_Sec3">
    <div class="col-md-8">



        <div class="thumbnail">
            <div class="caption">
                @{
                    if (User.Identity.GetUserId() == Model.User.Id)
                    {
                        <button type="button" class="btn btn-success" style="float: right" data-toggle="modal" data-target="#myModal-AddSec3">
                            Add
                        </button>
                    }
                }
                <p>Skills</p>

                <hr />
                <br />
                <div id="Skill-table">
                    @{


                        foreach (var skill   in Model.Skills)
                        {

                            <div class="row" id="row-@skill.Id">
                                <div class="col-md-12">
                                    @{
                                        if ( User.Identity.GetUserId() == Model.User.Id)
                                        {
                                            <a class="btn btn-danger" style="float: right" onclick="Delete(@skill.Id,'@Model.User.Id')">Delete</a>
                                        }
                                    }
                                    <div id="skill-row">
                                        <h4>@skill.Name</h4>
                                    </div>
                                </div>
                            </div>

                            <hr />
                                            }

                    }


                </div>

            </div>
        </div>
    </div>
</div>




<script>
    function Delete(id, userid) {
        bootbox.confirm("Confirm the Delete Process ?",
            function(result) {

                if (result) {
                    $.ajax({
                        type: "POST",
                      
                        url: `/Profile/DeleteSkill?id=${id}&userid=${userid}`,

                        success: function(result) {

                            $("#myProfile_Sec3").load(location.href + " #myProfile_Sec3>*", "");
                        } ,
                      


                    });


                }
            });

    }





</script>

