@using Microsoft.AspNet.Identity
  @{    
      if (User.Identity.IsAuthenticated)
      {

       
          var userId = User.Identity.GetUserId();

                          
                         
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li>@Html.ActionLink("Profile", "Index", "Profile", new {id = userId}, null)</li>
      }
  }
